aside(id="aside-menu")
	section(class="news-aside")
		h1(class="menu-title") ពត៌មាន
		ul(class="menu-item")
			li
				if (results.slug == 'khmer-news')
					span(class="menu-active") ជាតិ
				else
					a(href="/khmer-news") ជាតិ
			li
				if (results.slug == 'international-news')
					span(class="menu-active") អន្តរជាតិ
				else
					a(href="/international-news") អន្តរជាតិ
