aside(id="aside-menu")
	section(class="news-aside")
		h1(class="menu-title") ប្រភព
		ul(class="menu-item")
			li
				if (results.slug == '/kohsantepheap')
					span(class="menu-active") កោះសន្តិភាព
				else
					a(href="/kohsantepheap") កោះសន្តិភាព
			li
				if (results.slug == '/rfa')
					span(class="menu-active") អាសីុសេរី
				else
					a(href="/rfa") អាសីុសេរី
			li
				if (results.slug == '/voa')
					span(class="menu-active") វីអូអេ
				else
					a(href="/voa") វីអូអេ
			li
				if (results.slug == '/thmeythmey')
					span(class="menu-active") ថ្មីថ្មី
				else
					a(href="/thmeythmey") ថ្មីថ្មី
			li
				if (results.slug == '/phnompenhpost')
					span(class="menu-active") ភ្នំពេញ ប៉ុស្ដិ៍
				else
					a(href="/phnompenhpost") ភ្នំពេញ ប៉ុស្ដិ៍
			li
				if (results.slug == '/dapnews')
					span(class="menu-active") ដើមអម្ពិល
				else
					a(href="/dapnews") ដើមអម្ពិល
			li
				if (results.slug == '/kampucheathmey')
					span(class="menu-active") កម្ពុជាថ្មី
				else
					a(href="/kampucheathmey") កម្ពុជាថ្មី
			li
				if (results.slug == '/freshnews')
					span(class="menu-active") Fresh News
				else
					a(href="/freshnews") Fresh News
			li
				if (results.slug == '/cen')
					span(class="menu-active") CEN
				else
					a(href="/cen") CEN
			li
				if (results.slug == '/vod')
					span(class="menu-active") VOD
				else
					a(href="/vod") VOD
			li
				if (results.slug == '/camnews')
					span(class="menu-active") CamNews
				else
					a(href="/camnews") CamNews
