header
	a(href="/", class="logo")
	div(class="page-title")
		p(class="news-header-title") #{results.title}
	div(class="mobile-nav")
		button(class="nav-button", id="nav-button") ☰
		ul(class="mob-nav hide-nav", id="nav-list")
			li(class="nav-item")
				a(href="/kohsantepheap") កោះសន្តិភាព
			li(class="nav-item")
				a(href="/rfa") អាសីុសេរី
			li(class="nav-item")
				a(href="/voa") វីអូអេ
			li(class="nav-item")
				a(href="/thmeythmey") ថ្មីថ្មី
			li(class="nav-item")
				a(href="/freshnews") Fresh News
			li(class="nav-item")
				a(href="/dapnews") ដើមអម្ពិល


