header
	div(class="logo-container")
		a(href="/")
			img(src="/images/logo.png" class="logo")
	div(class="page-title")
		p(class="news-header-title") ពត៌មានជាតិ
	div(class="mobile-nav")
		button(class="nav-button", id="nav-button") ☰
		ul(class="mob-nav hide-nav", id="nav-list")
			li(class="nav-item")
				a(href="/national-news") ពត៌មានជាតិ
			li(class="nav-item")
				a(href="/international-news") ពត៌មានអន្តរជាតិ
