header
	a(href="/", class="logo")
	div(class="page-title")
		p(class="news-header-title") #{results.title}
	div(class="play-store-container")
		img(id="google-play-badge")
	div(class="mobile-nav")
		button(class="nav-button", id="nav-button") ☰
		ul(class="mob-nav hide-nav", id="nav-list")
			li(class="nav-item")
				a(href="/kohsantepheap") កោះសន្តិភាព
			li(class="nav-item")
				a(href="/rfa") អាសុីសេរី
			li(class="nav-item")
				a(href="/voa") វីអូអេ
			li(class="nav-item")
				a(href="/thmeythmey") ថ្មីថ្មី
			li(class="nav-item")
				a(href="/phnompenhpost") ភ្នំពេញប៉ុស្តិ
			li(class="nav-item")
				a(href="/dapnews") ដើមអម្ពិល
			li(class="nav-item")
				a(href="/kampucheathmey") កម្ពុជាថ្មី
			li(class="nav-item")
				a(href="/freshnews") Fresh News
			li(class="nav-item")
				a(href="/cen") CEN
			li(class="nav-item")
				a(href="/vod") VOD
			li(class="nav-item")
				a(href="/camnews") CamNews


